
<template>
  <style>
    img {
      float: left;
      margin: 10px;
      border-radius: 5px;
      width: 200px;
      height: 200px;
    }

    h1 {
      color: #675;
      float: left;
    }

    #project {
      margin: 10px;
    }

    #bio, #location {
      margin: 10px;
      color: #fff;
    }

    #card {
      background-color: #243;
      width: 35%;
      float: left;
      border-radius: 5px;
      padding: 5px;
      margin: 5px;
    }

    .circle {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: red;
      float: right;
     /* float: left;*/
    }

    /*#star_count {
      float: left;
    }*/

    #star_count_display {
      background-color: #675;
      border-radius: 10px;
      width: 10%;
      padding: 5px;
    }

    #table {
      margin: 10px;
    }


  </style>
  
  <div id="card">
    <div>
      <img src="" alt="">
      <h1 id="name"></h1>
      <p id="bio"></p>
      <p id="location"></p>
    </div>
    <ul id="project">
    </ul>
  </div>
</template>

<script src="main.js"></script>